/* FORM */
.form {
    padding: 20px;
}

.form__wrapper {
    max-width: 990px;
    margin: 0 auto;
}
/* FORM */

/* INPUT */
.formInput {
    display: block;
    width: 100%;
    height: 62px;
    padding: 0 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: normal;
    color: #333333;
    appearance: none;
    border: none;
    border-radius: 0;
    border: 1px solid #DEE1E5;
    background-color: white;
    border-radius: 2px;
}
/* INPUT */

/* TEXTAREA */
.formTextarea {
    display: block;
    width: 100%;
    min-height: 150px;
    padding: 15px 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: normal;
    color: #333333;
    appearance: none;
    border: none;
    border-radius: 0;
    border: 1px solid #DEE1E5;
    background-color: white;
    border-radius: 2px;
}
/* TEXTAREA */

/* RADIO */
.formRadio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.formRadio label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    width: 100%;
    height: 62px;
    padding: 0 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: normal;
    color: #333333;
    border: 1px solid #DEE1E5;
    background-color: white;
    border-radius: 2px;
    cursor: pointer;
}

.formRadio label + label {
    margin-left: 20px;
}

.formRadio input {
    position: absolute;
    left: -9999px;
}

.formRadio span {
    position: relative;
    display: block;
    width: 26px;
    height: 26px;
    margin-right: 12px;
    border-radius: 50%;
    border: 1px solid #DEE1E5;
    background-color: white;
}

.formRadio span:after {
    content: '';
    position: absolute;
    display: none;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -5px;
    border-radius: 50%;
    background-color: #0066FF;
}

.formRadio input:checked ~ span {
    border-width: 2px;
    border-color:  #0066FF;
}

.formRadio input:checked ~ span:after {
    display: block;
}
/* RADIO */

/* CHECKBOX */
.formCheckbox label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    width: 100%;
    height: 62px;
    padding: 0 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: normal;
    color: #333333;
    border: 1px solid #DEE1E5;
    background-color: white;
    border-radius: 2px;
    cursor: pointer;
}

.formCheckbox input {
    position: absolute;
    left: -9999px;
}

.formCheckbox span {
    position: relative;
    display: block;
    width: 26px;
    height: 26px;
    margin-right: 12px;
    border-radius: 50%;
    border: 1px solid #DEE1E5;
    background-color: white;
}

.formCheckbox input:checked ~ span {
    border-color:  #0066FF;
    background: #0066FF url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cG9seWxpbmUgcG9pbnRzPSIyMCA2IDkgMTcgNCAxMiI+PC9wb2x5bGluZT48L3N2Zz4=) center no-repeat;
    background-size: 70%;
}
/* CHECKBOX */

/* SELECT */
.formSelect {
    display: block;
    width: 100%;
    height: 62px;
    padding: 0 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: normal;
    color: #333333;
    appearance: none;
    border: none;
    border-radius: 0;
    border: 1px solid #DEE1E5;
    background-color: white;
    border-radius: 2px;
}
/* SELECT */
